<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.econify.stagereads"
          android:versionCode="6"
          android:versionName="1.5">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name"
                 android:icon="@drawable/icon"
                 android:theme="@style/Theme.Sherlock.Light.ForceOverflow">
        <activity android:name="Main"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="PlayReader" />

        <activity android:name="com.crittercism.NotificationActivity"/>

        <service android:name=".shop.BillingService"/>

        <receiver android:name=".shop.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
